<%- include("./partials/AppHead"); %>
    <link rel="stylesheet" type="text/css" href="/styles/AppFiles.css" />
    <section>
        <div class="drop-container">
          <% filesPrivate.forEach((e) => { %>
          <div class="card">
            <div class="card-header"><%- e.title %></div>
            <div class="card-body">
              <div class="icon-container">
                <div class="icon-super">
                  
                  <div><p><%- e.tipo %></p></div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <p>Tamaño: <%- e.size %></p>
            </div>
            <div class="card-buttons">
              
              <a href="/files/download/<%- e.id %>" class="btn-download"
                >Descargar</a
              >
            </div>
          </div>
  
          <% }) %>
        </div>
      </section>



    <a class="btn-add" href="/files/new-file">
        <p>+</p>
    </a>

    <%- include("./partials/AppFooter"); %>