<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drop</title>
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/drop.css" />
  </head>
  <body>
    <header><%- include("./partials/navigation") %></header>
    <section>
      <div class="drop-container">
        <% drops.forEach((e) => { %>
        <div class="card">
          <div class="card-header"><%- e.title %></div>
          <div class="card-body">
            <img
              src="<%- `./icons/mkv.png` %>"
              alt="<%- e.namepath %>"
              class="card-img"
            />
          </div>
          <div class="card-footer">
            <p><%- e.tipo %></p>
            <p><%- e.size %></p>
          </div>
        </div>

        <% }) %>
      </div>
    </section>

    <%- include("./partials/footer"); %>
  </body>
</html>
