<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Añade película</title>
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/form-container.css" />
    <link rel="icon" href="/icons/boton-inicio.png">
  </head>
  <body>
    <header><%- include("./partials/navigation"); %></header>

    <section class="form-container">
      <form action="edit-movie"  method="POST">
        <div class="secuencial-container">
          <label for="id">Id</label>
          <input
            readonly
            autofocus
            type="text"
            required
            name="id"
            id="id"
            value="<%- movie.id %>"
          />
        </div>
        <div class="secuencial-container">
          <label for="title">Titulo</label>
          <input
            autofocus
            type="text"
            required
            name="title"
            id="title"
            placeholder="Ingresa el titulo"
            value="<%- movie.title %>"
          />
        </div>
        <div class="secuencial-container">
          <label for="sinopsis">Sinopsis</label>
          <textarea
            type="text"
            required
            name="sinopsis"
            id="sinopsis"
            rows="3"
            autocapitalize="none"
            value="<%- movie.sinopsis %>"
          ><%- movie.sinopsis %></textarea>
        </div>
        <div class="intermedial-form">
          <div>
            <label for="year">Año</label>
            <input
              type="number"
              required
              placeholder="Ingresa el año"
              id="year"
              class="form-year"
              max="2023"
              min="1910"
              name="year"
              value="<%- movie.year %>"
            />
          </div>
          <div>
            <label for="genero">Género</label>
            <input
              type="text"
              required
              placeholder="Terrror/Comedia/Drama"
              id="genero"
              class="form-genero"
              name="genero"
              value="<%- movie.genero %>"
            />
          </div>
        </div>
        
        <input type="submit" value="Actualizar" class="btn-submit" />
        <a href="/dashboard"><input type="button" class="btn-submit" value="Cancelar"></a>
      </form>
    </section>
    <%- include("./partials/footer"); %>
  </body>
</html>
