<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files</title>
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/files.style.css" />
    <link rel="icon" href="/icons/boton-inicio.png">
  </head>
  <body>
    <header><%- include("./partials/navigation") %></header>
    <section>
      <div class="drop-container">
        <% files.forEach((e) => { %>
        <div class="card">
          <div class="card-header"><%- e.title %></div>
          <div class="card-body">
            <div class="icon-container">
              <div class="icon-super">
                <div class="icon-corner">
                  <div class="icon-corner-in"></div>
                </div>
                <div><p><%- e.tipo %></p></div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p>Tamaño: <%- e.size %></p>
          </div>
          <div class="card-buttons">
            
            <a href="/files/download/<%- e.id %>" class="btn-download"
              >Descargar</a
            >
          </div>
        </div>

        <% }) %>
      </div>
    </section>

    <%- include("./partials/footer"); %>
  </body>
</html>
