<%- include("./partials/head"); %>

  <body>
    <header><%- include("./partials/navigation"); %></header>
    <section>
      <div class="indexContainer">
        <% movies.forEach((e) => { %>
        <div class="paquet">
          <div class="card">
            <div class="card-header"><%= e.title %> / <%= e.year %></div>
            <img
              src="<%= `./uploads/movies/${e.image}` %>"
              alt="<%= e.title %>"
              class="card-img-top"
            />
            <div class="card-body">
              <p><%= e.sinopsis %></p>
            </div>
            <div class="card-footer">
             
              <a href="/movies/play-mov/<%= e.id %>" class="btn-play">Play</a>
              <a href="/movies/download/<%= e.id %>" class="btn-download"
                >Descarga</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    
    <footer><%- include("./partials/footer"); %></footer>
  </body>
</html>
