<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movies</title>
  <link rel="stylesheet" href="/styles/public.navigation.css" />
  <link rel="stylesheet" href="/styles/public.movies.style.css" />
</head>

<body>
  <header>
    <%- include("./partials/navigation"); %>
  </header>


  <section class="banner-movies" id="banner-movies">
    
  
    
  </section>


  <section class="movies-selector">
    <div class="title-movies-selector"><h3>Watch Now</h3></div>
    <div class="selector">
      <%- movies[0] ? " " : "..." %>
      <% movies.forEach((e) => { %>
        <img
              src="<%- `./uploads/movies/${e.image}` %>"
              alt="<%- e.name %>"
              onclick='renderMovie("<%- e.title %>", "<%- e.year %>","<%- e.sinopsis %>", "<%- e.id %>", "<%- e.video %>", "<%- e.banner %>", "<%- e.genero %>")'
              class="img-selector"
              id="selector-img"
        />
      <% }) %>
    </div>
  </section>


  <section id="player">
    
  </section>
  <script>
    const $player = document.getElementById("player")
    const $banner = document.getElementById("banner-movies")
    const $selectorImages = document.getElementById("selector-img")
    $banner.style.height = "80px"
    /*
    let $movies = [...document.getElementsByClassName("img-selector")]
    $movies.forEach((e) => {
      e.addEventListener("click", (m) => {
        let push = `
        <div class="content-left">
      <div class="card-title"><h2>${m.target.dataset.title}</h2></div>
      <div class="card-info"><p>${m.target.dataset.year}</p></div>
      <div class="card-sinopsis"><p>${m.target.alt}</p></div>
      <div class="card-buttons">
        <a href="#" class="play-button">Play</a>
        <a href="#" class="download-button">Descargar</a>
      </div>
    </div>
    <div class="content-right">
    </div>
    <img class="banner-img" src="https://www.laxmasmusica.com/uploads/newsarticle/3469641c09da4a07ad70ff99c7c300da/BANNER-STRANGER-THINGS.jpg"/>
        `
        $banner.innerHTML = push;
      })
    })*/
    function renderMovie( title, year, sinopsis, id, video, banner, genero ){
      $banner.style.height = "650px"
      let push = `
        <div class="content-left">
      <div class="card-title"><h2>${title}</h2></div>
      <div class="card-info"><p>${year}, ${genero}</p></div>
      <div class="card-sinopsis"><p>${sinopsis}</p></div>
      <div class="card-buttons">
        <a onclick='renderPlayer("${video}")' class="play-button">Play</a>
        <a href="/download-movie/${id}" class="download-button">Descargar</a>
      </div>
    </div>
    <div class="content-right">
    </div>
    <img class="banner-img" src="/uploads/movies/${banner}"/>
        `
        $banner.innerHTML = push;
    }
    function renderPlayer(video){
      let push = `
      <img id="close-button" class="close-player" src="/icons/atras.png">
      <div class="video-player" id="banner-player">
      <video id="video" controls autoplay>
        <source  src="/uploads/movies/${video}" type="video/mp4">
        Tu navegador no soporta los vídeos de HTML5
      </video>
      </div>
      `
      
      $player.innerHTML = push;
      const $closePlayer = document.getElementById("close-button")
      const $video = document.getElementById("video")

      $closePlayer.addEventListener("click", () => {
        $video.pause()
        $player.innerHTML = " ";
      })
    }/*
    const toogleModal = () => {
      const { classList } = document.body;
      if(classList.contains("open")){
        classList.remove("open");
        classList.add("close");

      } else {
        classList.add("open");
        classList.remove("close");
      }
    }*/


  </script>
</body>

</html>